// I decided to use a color palette based in Material Design, combining a light purple and some blue with white and black to make my app

$mainBlue: #1e88e5;
$lighterBlue: #6ab7ff;
$darkerBlue: #005cb2;
$mainPurple: #e040fb;
$lighterPurple: #ff79ff;
$darkerPurple: #aa00c7;
$bodyColor: #fff;
$bodyAlternative: #ddd;
