.img-container{
    margin:0;
    padding:0;
}
h1{
    text-align: center;
}
.image-gallery{
    display:grid;
    grid-gap:0.01rem .1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: .5rem;
}
.grid-element{
    margin:0;
    padding:0;
    width:100%;
}