.Editor-Container {
	display: grid;
	margin: 0 auto;
	height: 100vh;
	background: $lighterBlue;
	@media screen and(min-width:960px) {
		grid-template-rows: 10% 90%;
		height: 100%;
		width: 50vw;
		margin: 0;
	}
}
.editor-title {
	text-align: center;
	height: 10vh;
	padding: 1rem 0;
	margin-bottom: 0;
}
#editor {
	width: 90vw;
	margin: 0 auto;
	font-size: 0.85rem;
	height: 85vh;
	background: lighten($lighterBlue, 15%);
	@media screen and(min-width:720px) {
		font-size: 0.9rem;
	}
	@media screen and(min-width:960px) {
		width: 40vw;
		height: 85%;
	}
}
